services:
  database:
    container_name: "postgres-dev"
    image: "postgres:17.2-alpine3.21"
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
      
  web:
    container_name: "flask-api-web"
    build:
      context: .. # Build from the api-casamento directory
      dockerfile: Dockerfile # Specify the Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ..:/app # Mount the api-casamento directory into the container
    env_file:
      - ../.env
      - ../.env.development
    depends_on:
      - database
    command: python app.py

volumes:
  pg_data:
